replicaCount: 2

image:
  repository: venkatnivi062/sample-ci-cd-app
  tag: latest
  pullPolicy: Always

service:
  type: LoadBalancer
  port: 80
  targetPort: 5000

env:
  ENVIRONMENT: dev

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
